<template name="tasks">
    {{> actionsBar}}
    {{> tasksBody}}
</template>

<template name="actionsBar">
    <div class="row">
        <div class="col-sm-6">
            <h2>Tasks</h2>
        </div>
        <div class="col-sm-6">
            <div class="well">
                {{> vesselPicker}}
            </div>
        </div>
    </div>
</template>

<template name="vesselPicker">
    <label>Vessel</label>
    <div class="select select-fluid">
        <select placeholder="select a vessel">
            <option value="">American Beauty</option>
        </select>
    </div>
</template>

<template name="tasksBody">
    {{> quickTask}}
    <div class="divider"></div>
    <div class="row">
        <div class="col-md-8 col-sm-12">{{> taskList}}</div>
        <div class="col-md-4 col-sm-12">{{> taskLog}}</div>
    </div>
</template>

<template name="quickTask">
    <div class="card">
        <form name="quickTaskForm">
            <div class="card-body">
                <h3 class="card-title">Create a new task</h3>
                <div class="row">
                    <div class="col-md-8">
                        <div class="form-group">
                            <input type="text" class="form-control floating-label input-lg" name="description" value="{{description}}" required>
                            <label class="control-label" for="inputLarge">Log a new task</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <input type="text" class="form-control input-lg floating-label" id="nameInput" name="name" required>
                            <label class="control-label">Name</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-7">
                        <div class="select select-fluid">
                            <select name="system" placeholder="Select a system">
                                <option value="Center Main Engines" selected>Center Main Engine</option>
                                <option value="engine">Engine</option>
                                <option value="generator">Generator</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-5">
                        <div class="radio-group">
                            <label for="yesterday" class="btn-radio">
                                <input name="when" type="radio" id="yesterday" value="yesterday">
                                <span class="indicator"></span> Yesterday
                            </label>
                            <label class="btn-radio">
                                <input name="when" type="radio" id="today" value="today" checked>
                                <span class="indicator"></span> Today
                            </label>

                            <label class="btn-checkbox">
                                <input name="complete" type="checkbox" id="fixed">
                                <span class="indicator"></span> Fixed
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-actions">
                <button class="btn btn-fab btn-raised btn-primary add-task" type="submit"><span class="glyphicon glyphicon-plus"></span>
                </button>
            </div>
        </form>
    </div>
</template>

<template name="taskList">
    <h3>Tasks</h3>
    {{#momentum plugin='slide-height' }}
        {{#each tasks}}
            {{> task}}
        {{/each}}
    {{/momentum}}
</template>

<template name="task">

    <div class="card" href="#checklistModal">
        <div class="card-body">
            <h4 class="card-title">{{description}}</h4>
            <b>Entered by:</b> {{name}}
            <br>
            <b>System:</b>
            <span class="glyphicon glyphicon-cog"></span> {{system}}
        </div>
        <div class="card-actions">
            <div>
                {{#if complete}}
                    <span class="label label-success">Fixed</span>
                {{else}}
                    <span class="label label-warning">Not Fixed</span>
                {{/if}}
            </div>
            <div>
                <span class="label label-{{whenBadgeClass}}">{{when}}</span>
            </div>


            {{#if complete}}
                <button class="toggle-task btn btn-fab btn-raised btn-default">
                    <span class="glyphicon glyphicon-arrow-left"></span>
                </button>
            {{else}}
                <button class="toggle-task btn btn-fab btn-raised btn-success">
                    <span class="glyphicon glyphicon-ok"></span>
                </button>
            {{/if}}
        </div>
        <div class="delete-task text-danger is-clickable">
            <span class="glyphicon glyphicon-remove"></span>
        </div>
    </div>
    <hr>

</template>

<template name="taskLog">
    <h3>Task Log</h3>
    <div class="muted">
        {{#momentum plugin='fade' }}
            {{#each completedTasks}}
                {{> task}}
            {{/each}}
        {{/momentum}}
    </div>
</template>

<template name="checklist">
    {{#with template}}
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="card-title">{{name}}</h4>
                </div>
                <form name="checklistForm">
                    <div class="modal-body">
                        <input type="date" name="date" placeholder="Select a date" class="form-control datepicker" />
                        <ul class="checklist collection"></ul>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary btn-raised btn-fab">
                            <span class="glyphicon glyphicon-ok"></span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    {{/with}}
</template>

<template name="radioGroup">
    <li class="collection-item flex">
        <div class="flex-item">{{name}}

            <div class="radio-group pull-right">
                <label for="fail{{index}}" class="btn-radio">
                    <input name="status{{index}}" type="radio" id="fail{{index}}" />
                    <span class="indicator"></span> Fail
                </label>
                <label for="pass{{index}}" class="btn-radio">
                    <input name="status{{index}}" type="radio" checked id="pass{{index}}" />
                    <span class="indicator"></span> Pass
                </label>
            </div>

        </div>

    </li>
</template>

<template name="actionItem">
    <div class="modal-dialog">
        <form name="actionItemForm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="card-title">Complete item</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <textarea name="reason" class="form-control floating-label"></textarea>
                                <label>Enter a reason</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <input type="text" class="form-control floating-label" required id="user" name="user" />
                                <label for="user">Enter your name</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-raised btn-danger">
                        <span class="glyphicon glyphicon-remove"></span> Delete
                    </button>
                    <button class="btn btn-raised btn-primary">
                        <span class="glyphicon glyphicon-ok"></span> Verify
                    </button>
                </div>

            </div>
        </form>
    </div>
</template>
