// material icons path
@material-font-path: "../public/fonts";

// Material colors palette
@red: #F44336;
@pink: #E91E63;
@purple: #9C27B0;
@deeppurple: #673AB7;
@indigo: #3F51B5;
@blue: #4285f4;
@lightblue: #03A9F4;
@cyan: #00BCD4;
@teal: #009688;
@lightgreen: #8BC34A;
@lime: #CDDC39;
@lightyellow: #FFEB3B;
@orange: #FF9800;
@deeporange: #FF5722;
@grey: #9E9E9E;
@bluegrey: #607D8B;
@brown: #795548;
@lightgrey: #ECECEC;

// Bootstrap shades
@primary: #009587;
@success: #0F9D58;
@info: @lightblue;
@warning: @deeporange;
@danger: @red;

// Typography elements for Material
@darkbg-text: rgba(255,255,255,0.84);
@lightbg-text: rgba(0,0,0,0.84);
@icon-color: rgba(0,0,0,0.5);


// Bootstrap variables
@btn-default: transparent;
@btn-default-text: @lightbg-text;

@btn-primary: @primary;
@btn-primary-text: @darkbg-text;

@btn-success: @success;
@btn-success-text: @darkbg-text;

@btn-info: @info;
@btn-info-text: @darkbg-text;

@btn-warning: @warning;
@btn-warning-text: @darkbg-text;

@btn-danger: @danger;
@btn-danger-text: @darkbg-text;

@input-unchecked: rgba(137, 137, 137, 0.3);
@input-checked: rgba(15, 157, 88, 0.3);

@radio-default: @lightbg-text;
@radio-primary: @primary;
@radio-success: @success;
@radio-info:    @info;
@radio-warning: @warning;
@radio-danger:  @danger;

@input-danger: @danger;
@input-default: @primary;
@input-warning: @warning;
@input-success: @success;
@input-info:    @info;

@alert-success: @success;
@alert-info: @info;
@alert-warning: @warning;
@alert-danger: @danger;

@progress-success: @success;
@progress-info: @info;
@progress-warning: @warning;
@progress-danger: @danger;

// Card
@card-body-text: @lightbg-text;
@card-body-background: #fff;
@card-image-headline: #fff;

@text-disabled: #a8a8a8;
@background-disabled: #eaeaea;
