@import "custom.bootstrap.import.less";



//Google Paper Transition
@customEase: cubic-bezier(0.465, 0.183, 0.153, 0.946);

@durationIn: 300ms;
@durationOut: 100ms;
// may change this later to reflect user actions versus system actions

@delay: 30ms;

@transformIn: transform @durationIn @customEase;
@transformOut: transform @durationOut @customEase;

@transitionIn: opacity @durationIn @customEase, transform @durationIn @customEase, box-shadow @durationIn @customEase;
@transitionOut: opacity @durationOut @customEase, transform @durationOut @customEase, box-shadow @durationOut @customEase;

@transitionInAll: all @durationIn @customEase;
@transitionOutAll: all @durationOut @customEase;



//------------------------------------------------
// LAYOUT + NAV
//------------------------------------------------
body {
	padding: 0;
	margin: 0;
	transition: background @durationIn @customEase;
}
.sidenav {
	position: fixed;
	width:250px;
	height: 100vh;
	left:-250px;
	background-color: @brand-primary;
	z-index: 200;
	transition: @transformOut;
	padding: 5px;
	box-shadow: 3px 0 10px rgba(0,0,0,0.2);
	.btn {
		border-radius: 0;
		margin:0;
	}
}
.container {
	transition: @transformIn;
	transform-origin: left;
	position: relative;
	perspective: 400px;
	background-color: #fff;
}
.overlay {
	position: fixed;
	background-color:rgba(0,0,0,0.5);
	top:0;
	right:0;
	left:0;
	bottom:0;
	display: none;
	z-index: 50;
}
.hide-scroll .overlay {
	display: block;
}
.sidenav.menu-open {
	transform: translateX(250px);
	transition: @transformIn;
}
.main.menu-open {
	.container {
		// transform: translateX(150px);
		opacity:0.4;
	}
}
.hide-scroll {
	overflow: hidden;
}
.main {
	position: relative;
}
.hide-scroll {
	// background-color: lighten(#333,16%);
}

//------------------------------------------------
// CARD
//------------------------------------------------


.card {
	position: relative;
	margin-bottom:30px;
	border-radius: 0;
	background: #fff;
	transition: @transitionIn;
	box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.18), 0px 10px 15px -5px rgba(0, 0, 0, 0.12);
	.btn-fab, .btn-action {
		position: absolute;
		bottom: -20px;
		right: 15px;
	}
	.delete-task {
		position: absolute;
		top:5px;
		right:5px;
	}
	&.clickable:hover {
		box-shadow: 0px 4px 6px 1px rgba(0, 0, 0, 0.22), 0px 12px 15px -5px rgba(0, 0, 0, 0.18);
		cursor:pointer;	
	}
}
.card-body {
	padding: 15px;
}
.card-title {
	margin-top:0;
	padding-bottom: 3px;
	border-bottom: 1px solid @gray-lighter;
}

//Actions Bar
.card-body + .card-actions {
	border-top: 1px solid @gray-light;
}
.card-actions + .card-body {
	border-bottom: 1px solid @gray-light;
}
.card-actions {
	display: flex;
	padding: 10px;
	background-color: @gray-lighter;
	> div {
		padding: 2px 3px;
	}
}
.muted .card {
	background-color: @gray-lighter;
}
.muted .card {
	box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.18), 0px 10px 15px -5px rgba(0, 0, 0, 0.12);
}
.is-clickable {
	cursor: pointer;
}
//------------------------------------------------
// BUTTONS
//------------------------------------------------

.btn {
	transition: @transitionIn;
	border-radius: none;
	&:hover {
		transition: @transitionOut;
	}
}
.btn-action, .btn-fab {
	height:56px;
	width:56px;
	border-radius: 50%;
	font-size: 18px;
}

.btn-raised {
	box-shadow: 0 1px 6px rgba(0,0,0,.12), 0 1px 6px rgba(0,0,0,.12);
	transform-origin: top center;
	&:hover {
		transform: scale(1.01);
		box-shadow: 0 4px 8px rgba(0,0,0,.2), 0 7px 20px rgba(0,0,0,.15);
	}
} 

.button-collapse {
	position:absolute;
	top: 10px;
	right:-60px;
	z-index: 100;
	padding: 9px 10px;
	background-color: #fff;
	background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: @border-radius-base;
	box-shadow: 0 0 0 5px rgba(0,0,0,0.3);

	// We remove the `outline` here, but later compensate by attaching `:hover`
	// styles to `:focus`.
	&:focus, &:active {
	outline: 0;
	}

	// Bars
	.icon-bar {
	display: block;
	width: 22px;
	height: 2px;
	border-radius: 1px;
	background-color: #333;
	}
	.icon-bar + .icon-bar {
	margin-top: 4px;
	}
	&:hover {
		background: #fff;
		border-color: #333;
	}
}
.menu-open {
	.button-collapse {
		background: rgba(0,0,0,0.6);
	}
	.button-collapse:hover {
		border-color: #fff;
	}
	.icon-bar {
	background-color: #fff;
	}
}


//------------------------------------------------
// FORMS
//------------------------------------------------

.form-group {
	position: relative;
}

input.floating-label {
	+ label {
		position: absolute;
		display: block;
		top: 0;
		transition: @transformIn;
		font-weight:normal;
		font-size: 17px;
		padding-left:3px;
		padding-top:10px;
		line-height: 1.33;
		color: @gray;
		transform-origin: top left;
		pointer-events: none;
	}
	&:invalid {
		border-bottom-color: lighten(@brand-primary,25%);
	}
	&:focus + label,
	&:valid + label {
		transform: translateY(-10px) scale(0.6);
		transition: @transformOut;
		color: @brand-primary;
	}
}


input.form-control,
input[type="password"].form-control,
select.form-control,
.form-control {
	padding: 10px 3px;
	border-radius: 0;
	border:none;
	box-shadow: none;
	border-bottom: 1px solid lighten(@brand-primary,25%);
	&:focus {
		border: none;
		border-bottom: 2px solid @brand-primary;
		box-shadow:none;
		outline: none;
	}
	&textarea:focus {
		border-left: 2px solid @brand-primary;
	}
}
textarea.form-control {
	margin-top: 10px;
	border-left: 1px solid lighten(@brand-primary,25%);
	+ label {
		font-size:11px;
		font-weight: normal;
		color:@brand-primary;
		position: absolute;
		top:-15px;
	}
}

.dropdown-menu input.form-control {
	border-radius: 0 !important;
}


.select {
  position: relative;
  display: inline-block;
  color: #555;
}
.select select {
  display: inline-block;
  width: 100%;
  margin: 0;
  padding: 10px 3px;
  line-height: 1.33;
  color: #555;
  font-size: 17px;
  background-color: #fff;
  border: 0;
  border-bottom: 1px solid lighten(@brand-primary,25%);
  border-radius: 0;
  cursor: pointer;
  outline: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.select-fluid {
	display: block;
}
/* Undo the Firefox inner focus ring */
.select select:focus:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}
/* Dropdown arrow */
.select:after {
  position: absolute;
  top: 50%;
  right: 1.25rem;
  display: inline-block;
  content: "";
  width: 0;
  height: 0;
  @arrowSize: 9px;
  margin-top: -@arrowSize;
  pointer-events: none;
  border-top: @arrowSize solid @brand-primary;
  border-right: @arrowSize - 1px solid transparent;
  border-bottom: @arrowSize solid transparent;
  border-left: @arrowSize - 1px solid transparent;
}

/* Hover state */
/* Uncomment if you need it, but be aware of the sticky iOS states.
.select select:hover {
  background-color: #ddd;
}
*/

/* Focus */
.select select:focus {
  // box-shadow: 0 0 0 .2rem #ccc;
  border-bottom-color: @brand-primary;
  border-bottom-width: 2px;
}

/* Active/open */
.select select:active {
  color: #fff;
  background-color: #0074d9;
}

/* Hide the arrow in IE10 and up */
.select select::-ms-expand {
  display: none;
}

/* Media query to target Firefox only */
@-moz-document url-prefix() {
  /* Firefox hack to hide the arrow */
  .select select {
    text-indent: 0.01px;
    text-overflow: '';
    padding-right: 1rem;
  }

  /* <option> elements inherit styles from <select>, so reset them. */
  .select option {
    background-color: #fff;
  }
}



// Range
@track-color: @gray-light;
@thumb-color: @brand-primary;

@thumb-radius: 50%;
@thumb-height: 20px;
@thumb-width: 20px;
@thumb-shadow-size: 0;
@thumb-shadow-blur: 1px;
@thumb-shadow-color: rgba(0,0,0,0.4);
@thumb-border-width: 0;
@thumb-border-color: transparent;

@track-width: 100%;
@track-height: 10px;
@track-shadow-size: 1px;
@track-shadow-blur: 4px;
@track-shadow-color: rgba(0,0,0,0.4);
@track-border-width: 0;
@track-border-color: transparent;

@track-radius: 5px;
@contrast: 5%;

.shadow(@shadow-size,@shadow-blur,@shadow-color) {
  box-shadow: @shadow-size @shadow-size @shadow-blur @shadow-color, 0px 0px @shadow-size lighten(@shadow-color,5%);
}

.track() {
  width: @track-width;
  height: @track-height;
  cursor: pointer;
  animate: 0.2s;
}

.thumb() {
  .shadow(@thumb-shadow-size,@thumb-shadow-blur,@thumb-shadow-color);
  border: @thumb-border-width solid @thumb-border-color;
  height: @thumb-height;
  width: @thumb-width;
  border-radius: @thumb-radius;
  background: @thumb-color;
  cursor: pointer;
}

input[type=range] {
  -webkit-appearance: none;
  margin: @thumb-height/2 0;
  width: @track-width;

  &:focus {
    outline: none;
  }

  &::-webkit-slider-runnable-track {
    .track();
    .shadow(@track-shadow-size,@track-shadow-blur,@track-shadow-color);
    background: @track-color;
    border-radius: @track-radius;
    border: @track-border-width solid @track-border-color;
  }
  
  &::-webkit-slider-thumb {
    .thumb();
    -webkit-appearance: none;
    margin-top: ((-@track-border-width * 2 + @track-height) / 2) - (@thumb-height / 2);
  }

  &:focus::-webkit-slider-runnable-track {
    background: lighten(@track-color, @contrast);
  }

  &::-moz-range-track {
    .track();
    .shadow(@track-shadow-size,@track-shadow-blur,@track-shadow-color);
    background: @track-color;
    border-radius: @track-radius;
     border: @track-border-width solid @track-border-color;
  }
  &::-moz-range-thumb {
     .thumb();
  }

  &::-ms-track {
    .track(); 
    background: transparent;
    border-color: transparent;
    border-width: @thumb-width 0;
    color: transparent;
  }

  &::-ms-fill-lower {
    background: darken(@track-color, @contrast);
    border: @track-border-width solid @track-border-color;
    border-radius: @track-radius*2;
    .shadow(@track-shadow-size,@track-shadow-blur,@track-shadow-color);
  }
  &::-ms-fill-upper {
    background: @track-color;
    border: @track-border-width solid @track-border-color;
    border-radius: @track-radius*2;
    .shadow(@track-shadow-size,@track-shadow-blur,@track-shadow-color);
  }
  &::-ms-thumb {
    .thumb();
  }
  &:focus::-ms-fill-lower {
    background: @track-color;
  }
  &:focus::-ms-fill-upper {
    background: lighten(@track-color, @contrast);
  }
}

// RADIO BUTTONS

// Radio Button And Checkbox Buttons



// Radio & Checkbox
// 
// Our implementation of radio buttons and checkboxes, using pseudo after and before elements. Make sure to keep the exact markup.
// Requires `Javascript`
// 
// Markup: 
// <label class='{$modifiers}'>
//   <input type='checkbox' tabindex="0">
//      long title for this one
// </label>
// 
// .btn-checkbox - a checkbox input
// .btn-checkbox.active - selected checkbox input
// .btn-checkbox.input-left - checkbox input on left
// .btn-checkbox.input-right.active - checkbox input on right
// .btn-radio - radio button (default has input on left)
// .btn-radio.active - radio button (default has input on left)
// .btn-radio.input-right.active - radio button input on right
// 
// Styleguide 3.1

@input-choice-default-bg     : #fff;
@input-choice-default-border : lighten(@brand-success,20%);
@input-choice-active-border  : @brand-success;
@input-choice-hover-border   : lighten(@brand-success,10%);
@input-choice-hover-bg       : lighten(@brand-success,10%);
@input-choice-active-bg      : @brand-success;

@choice-size: 22px;
@choice-selected-size: 20px;
@offset-position: round((@choice-size - @choice-selected-size)/2);

label.list,
label.btn,
label.btn-checkbox,
label.btn-radio {
	input[type=checkbox], 
	input[type=radio] { //we hide the original input
		position:absolute;
		clip:rect(0 0 0 0);
		height: 0;
		width: 0;
		display: block;
		line-height: 0;
	}
}

.radio-wrap, .radio-group {
	position: relative;
	display: block;
	height: 40px;
	padding-top: 10px;
	line-height: 40px;
	vertical-align: middle;
}

label.btn-checkbox, label.btn-radio {
	& {
		position: relative;
		margin-bottom: 0;
		line-height: @choice-size;
		
		cursor: pointer;
		vertical-align: middle;
		font-weight: bold;
		font-size: 1.4rem;
	}
 //Use Pseudo elements to make checkbox and radiobuttons and sibling selectors			
	> span:before { //this is the wrapping box
		content:"";
		position: absolute;
		display: block;
		width: @choice-size;
		height: @choice-size;
		padding: 0;
		border: 4px solid @input-choice-default-border;
		background-color: @input-choice-default-bg;
		z-index: 15;
		transition: 0.2s all;
		top: 50%;
		margin-top: -(@choice-size / 2);
	}
	> span:after { //this is the active and roll over element
		content:"";
		position: absolute; 
		background-color: transparent;
		width:@choice-selected-size;
		height:@choice-selected-size;
		display: block;
		z-index: 20;
		transition: 0.2s all;
		top: 50%;
		margin-top: -(@choice-selected-size / 2);
	}
	//color of border on hover
    &:hover  span:before {
      border-color: @input-choice-hover-border;
    }
	//color of bullet on hover
    &:hover span:after {
        content: "";
    }
    &.input-block {
    	display: block;
    	margin-bottom: 10px;
    }
    &, &.input-left { //set left align as default
		padding-left: @choice-size + 5;
		@media (min-width: @screen-lg-min) {
			padding-left: @choice-size + 10;
		}
		margin-right: 10px;
		padding-right:0;
		margin-left: 0;
		span:before {
			left:0;
		}
		span:after {
			left:@offset-position;
		}
	}

	&.input-right {
		padding-left: 0;
		padding-right: @choice-size + 5;
		@media (min-width: @screen-lg-min) {
			padding-right: @choice-size + 10;
		}
		margin-right: 0;
		margin-left: 10px;
		&:first-child {
            margin-left: 0 !important;
		}
		span:before {
			right:0;
			left: auto;
		}
		span:after {
			right:@offset-position;
			left:auto;
		}
	}
    &.radio-sm {
		font-size:1.2rem;
        &.input-right {
            margin-left: 4px;
            padding-right: @choice-size + 3;
		    @media (min-width: @screen-lg-min) {
			    padding-right: @choice-size + 5;
		    }
        }
        &.input-left {
            margin-right: 4px;
            padding-left: @choice-size + 3;
		    @media (min-width: @screen-lg-min) {
			    padding-left: @choice-size + 5;
		    }
        }
    }
	&.input-empty {
		padding-right: 0;
		margin-left: 0;
		> span:before,
		> span:after {
			margin-top: 0;
		}
	}
}

label.list {
	span:before{
	background: @input-choice-default-bg;
	font-size:1.4rem;
    font-weight:bold;
	vertical-align: middle;
	line-height: 18px;
	text-align: center;
	color:rgba(255,255,255,0.0);
	}
}

label.btn-checkbox input {
	~ span:before{
	background: @input-choice-default-bg;
	font-size: 14px; //for the check icon
	vertical-align: middle;
	line-height: 18px;
	text-align: center;
	color:rgba(255,255,255,0.0);
	}
}
label.btn-radio input {
	~ span:before{
	border-radius: 50%; // gives us a circle. BAZINA
	background: @input-choice-default-bg;
	}
	~ span:after {
	  content: "";
	  border-radius: 50%;
	}
}	
	
label.btn-checkbox input:checked { //this is the active state
	//color of border on hover
    ~ span:before {
		border-color: @input-choice-active-border;
		background-color: @input-choice-active-bg;
		color:rgba(255,255,255,1.0);
    }
    ~ span:before {
    	content: "✓";
    	font-size: 16px;
    	padding-top: 0px;
    	line-height: 1;
    }
    // ~ span:extend(.glyphicon all, .glyphicon-ok all) { } //icon-check
}

label.btn-radio input:checked { //this is the active state
    ~ span:before {
		content:"";
		border-color: @input-choice-active-border;
    }
	//color of bullet
    ~ span:after {
		content: "";
		background-color:@input-choice-active-bg;
    }
}

label.btn-radio input:focus { //this is the focused state
    ~ span:before {
		content:"";
		border-color: @input-choice-active-border;
    }
}

// Need some space on top in case disabled check items wrap around.
.readonly-btn-checkbox {
    margin-top: 8px;
    margin-bottom: 8px;
}



//Modal
.modal {
	&.fade .modal-dialog {
		transform: perspective(1000px) translate(0, -10%) rotateX(45deg) scale(0.8);
		transition: @transitionOut;
	}
	&.in .modal-dialog { 
		transform: perspective(1000px) translate(0, 0) rotateX(0) scale(1); 
		transition: @transitionIn;
	}
}
  

@media (min-width: @screen-md-min) {

  .flex {
  	display:flex;
  	margin-left:-10px;
  	margin-right:-10px;
  }
	  .flex-1 {
	  	flex: 1;
	  	padding: 0 10px;
	  	display:flex;
	  	flex-direction:column;
	  }

	  .flex {
		  .card, form {
		  	flex:1;
		  	display:flex;
		  	flex-direction:column;
		  }
		  .card-body {
		  	flex:1;
		  }
	}
	.flex-item {
	flex: 1;
	padding:0 0 0 10px;
	}
}


.checklist.collection {
	list-style:none;
	margin: 0;
	padding: 0;
}
.collection-item {
	display: block;
	padding:5px;
	border-bottom: 1px solid @gray-lighter;
	.radio-group {
		height: auto; 
		padding-top: 0; 
		line-height: inherit; 
	}
	.clearfix();
}

#login-dropdown-list {
	background-color: #fff;
}

#login-dropdown-list .dropdown-menu {
	min-width:240px;
	width: 100%;
	padding:10px;
	border-radius: 0;
	box-shadow: none;
	border:none;
	input.form-control {
		border:1px solid lighten(@brand-primary,25%);
		margin-bottom: 10px;
	}
}

.logo {
	position: relative;
	display: block;
	margin: 10px auto;
}