<template name="graphs">
	<h2>Graphs</h2>
	
	<button class="btn btn-raised back-link">
		<span class="glyphicon glyphicon-chevron-left"></span>
	</button>
	<hr>	
	{{> engineLogGraph }}

</template>

<template name="engineLogGraph">
	<div class="card">
		<div class="card-body">
			<h4>{{#with system }}{{ name }}{{/with}} - {{ readingGroup }}</h4>
			<svg class="engine-log-graph"></svg>
		</div>
	</div>	
</template>