<template name="layout">
<div class="main">
  {{> sidenav }}
  <div class="container">
  {{> yield  }}
  {{> footer }}
  </div>
  </div>
<div id="checklistModal" class="modal fade">{{> checklist}}</div>
<div id="actionitemModal" class="modal fade">{{> actionItem}}</div>
<div class="overlay"></div>
</template>