<template name="readings">
	{{> readingsActionsBar}}
	{{> readingsBody}}
</template>

<template name="readingsActionsBar">
	<div class="row">
		<div class="col-sm-6">
		<h2>Readings</h2>
		</div>
		<div class="col-sm-6">
		<div class="well">
			{{> vesselPicker}}
			</div>
		</div>
	</div>
</template>

<template name="readingsBody">
	<hr>
	{{> systems}}
</template>

<template name="systems">
	<h4>Systems</h4>
	{{#each systems}}
		{{> system}}
	{{/each}}
	
	{{> newSystem}}
</template>

<template name="system">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div class="card clickable">
				<div class="card-body">
					<div class="card-title">{{name}}</div>
					<div class="row">
						<div class="col-md-4">
							<b>Running hours</b>				
							<div>{{runningHours}}</div>
						</div>
						<div class="col-md-4">
							<b>Load %</b>				
							<div>{{load}}</div>
						</div>
						<div class="col-md-4">
							<b>RPM</b>				
							<div>{{rpm}}</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<template name="newSystem">
	<div class="row">
		<form name="newSystem">
			<div class="col-md-6 col-md-offset-3">
				<div class="card clickable">
					<div class="card-body">
						<div class="card-title">Create New System</div>
						<div class="row">
							<div class="col-md-4">
								<div class="form-group">
									<input type="text" class="form-control input-lg floating-label" id="systemNameInput" name="systemName" required>
					                <label class="control-label">New System</label>
				                </div>
							</div>							
						</div>
					</div>
					<div class="card-actions">
						<button type="submit" class="toggle-task btn-fab btn btn-warning btn-raised">
							<i class="glyphicon glyphicon-plus"></i>
						</button>	
					</div>
				</div>
			</div>
		</form>
	</div>
</template>