<template name="sidenav">
  <div id="slide-out" class="sidenav full">
  <img src="/logo-vert.png" class="logo">
    <a href="/" class="btn btn-raised btn-warning btn-block">Tasks</a>
    <a href="/readings" class="btn btn-raised btn-success btn-block">Readings</a>
<br>
    <ul class="nav navbar-left">
              {{> loginButtons}} <!-- here -->
          </ul>
  <button class="button-collapse btn" type="button">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  </div>
</template>