<template name="systemDetails">
	<h2>{{name}}</h2>
	<button class="btn btn-raised back-link">
		<span class="glyphicon glyphicon-chevron-left"></span>
	</button>
	{{> readingsActionsBar}}

	<div class="flex">
		{{> runningHours}}
		{{#with collection=components name='Components'}}
			{{> componentCard}}
		{{/with}}
	{{> usage}}
	</div>
	<div class="flex">
	{{#each readingGroups}}
		{{> readingCard collection=readingTypes name=name }}
	{{/each}}
	</div>

</template>

<template name="runningHours">
<div class="flex-1">
		<div class="card">
			<form name="runningHoursForm">
			<div class="card-body">
				<h5 class="card-title">Running hours: <span class="badge">{{runningHours}}</span>
</h5>
								<div class="form-group">
					<input type="text" class="form-control floating-label" required name="hours"/>
					<label>Hours</label>
				</div>
			</div>
			<div class="card-actions">
				<button class="toggle-task btn-fab btn btn-raised btn-primary">
					<span class="glyphicon glyphicon-plus"></span>
				</button>
			</div>
			</form>
		</div>	
</div>
</template>

<template name="usage">
	<div class="flex-1">
			<div class="card">
				<form name="usageForm">
				<div class="card-body">
					<h5 class="card-title">Load % &amp; RPM</h5>
					<div class="row">
						<div class="col-lg-12">
							<div class="form-group">
								<input id="fuelInput" type="text" class="form-control floating-label" required name="fuel" value="{{fuel}}" />						
								<label for="fuelInput">Add fuel reading</label>
							</div>
						</div>
						<div class="col-lg-12">
							<div class="form-group">
								<input id="rpmInput" type="text" class="form-control floating-label" required name="rpm" value="{{rpm}}" />						
								<label for="rpmInput">Add rpm reading</label>
							</div>
						</div>
						<div class="col-lg-12">
							<div class="form-group">
								<input id="loadInput" type="text" class="form-control floating-label" required name="load" value="{{load}}" />						
								<label for="loadInput">Add load reading</label>
							</div>
						</div>
					</div>
				</div>
				<div class="card-actions">
					<button type="submit" class="toggle-task btn-fab btn btn-warning btn-raised">
						<i class="glyphicon glyphicon-plus"></i>
					</button>	
				</div>
				</form>
			</div>
	</div>
</template>

<template name="item">
    <div class="">
        <b>{{name}}</b>
        {{#if runningHours}}
        	<div class="badge pull-right">{{runningHours}}</div>
        {{/if}}
    </div>
</template>

<template name="range">
		<label for="fader">{{name}}</label>
		<p class="range-field">
			<input id="{{name}}" name="{{name}}" type="range" min="0" max="1000" value="{{reading}}" step=1 />		
		</p>
</template>

<template name="componentCard">
<div class="flex-1">
	<div class="card">
		<div class="card-body">
			<h5 class="card-title">{{name}}</h5>
			{{#each collection}}
			    {{> item}}
		    {{/each}}
		</div>
	</div>
</div>
</template>

<template name="readingCard">
	<div class="flex-1 {{name}}Form">
		<form name="{{name}}Form">
			<div class="card">
				<div class="card-body">
					<div class="card-title">{{name}}</div>
					{{#each collection}}
			        	{{#with reading=readings.[0].reading name=name}}
				        	{{> range }}
			        	{{/with}}
				    {{/each}}
				</div>
				<div class="card-actions">
					<button type="submit" class="toggle-task btn btn-fab btn-raised btn-primary">
						<span class="glyphicon glyphicon-ok"></span>
					</button>	
					<button class="btn btn-raised btn-info graphs-link">
						<span class="glyphicon glyphicon-signal"></span>
					</button>	
				</div>
			</div>
		</form>
	</div>
</template>